{% extends "base.html" %}
{% block content %}
	<div class="header">
	    <h1>落地查询</h1>
	    <h2>A subtitle for your page goes here</h2>
	</div>

	<div class="content">
		<h2 class="content-subhead" style="color:maroon">报警列表</h2>
		<form class="pure-form">
			<fieldset>
			    <input type="date" placeholder="起始日期" id="date_from">
			    <input type="date" placeholder="结束日期" id="date_to">
			        <button type="submit" class="pure-button pure-button-primary" id="time_search">查询</button>
			</fieldset>
		</form>
		<script type="text/javascript">
			$(function(){
				$('#time_search').click(function(){
					var num=0
					var str=""
					$("input[type$='date']").each(function(n){
						if($(this).val() == "")
						{
							num++
							str+=$(this).attr("msg")+"不能为空!\r\n"
						}
					});
					if(num > 0)
					{
						alert(str)
						return false
					}

					var date_from=$('#date_from').val()
					var date_to=$('#date_to').val()
					//Ajax提交表单，渲染表格
					$.ajax({
						type:"POST",
						data:{'date_from':date_from,'date_to':date_to},
						url:"/get_implement_table/",
						cache:false,
						success:function(data){
							$('#implement_talble').html(data)
						},
						error:function(){
							alert("查找失败!")
						}
					});
				});
			});
		</script>

		{% include "implement_table.html" %}
	</div>

{% endblock %}