<div id="container" style="min-width:400px;min-height:400px;"></div>

<script type="text/javascript">
	$(function(){
		$(document).ready(function(){
			chart=new Highcharts.chart({
				chart:{
					renderTo:'container',
					plotBackgroundColor:null,
					plotBorderWidth:null,
					plotShadow:false
				},
				title:{
					text:'预警饼图'
				},
				tooltip:{
					headerFormat:'{series.name}<br>',
					pointFormat:'{point.name}:<b>{point.percentage:.1f}%</b>'
				},
				plotOptions:{
					pie:{
						allowPointSelect:true,
						cursor:'pointer',
						dataLabels:{
							enabled:true,
							format:'{point.name}:<b>{point.percentage:.1f}%</b>',
							style:{
								color:(Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
							}
						},
						states:{
							hover:{
								enable:false
							},
							slicedOffset:20,
							point:{
								events:{
									mouseOver:function(){
										this.slice();
									},
									mouseOut:function(){
										this.slice();
									},
									click:function(){
										return false
									}
								}
							}
						}
					}
				},
				credits:{
					enable:false
				},
				series:[{
					type:'pie',
					name:'问题属性占比',
					data:[
						{% for key,value in problem_attr_count.items %}
						{% ifnotequal value 0%}
							['{{key}}',{{value}}],
						{% endifnotequal %}
						{% endfor %}
					]
				}]
			});
		})
	});
</script>