{% extends "base.html" %}
{% block content %}
	<div class="header">
	    <h1>趋势查询</h1>
	    <h2>A subtitle for your page goes here</h2>
	</div>

	<div class="content">
	    <div class="pure-g">
	    	<div class="pure-u-1-2">
	    		<h2 class="content-subhead" style="color:orange;margin-left:55px">预警列表</h2>
	    		{% include "tendency_table.html" %}
	    	</div>

	    	<div class="pure-u-1-2">
	    		<h2 class="content-subhead" style="color:orange;margin-left:200px">过滤器</h2>
	    		<form class="pure-form pure-form-aligned">
	    			<fieldset>
	    				<div class="pure-control-group">
	    					<label for="date_from">起始日期</label>
	    					<input id="date_from" type="date" msg="起始日期">
	    				</div>
	    				<div class="pure-control-group">
	    					<label for="date_to">结束日期</label>
	    					<input id="date_to" type="date" msg="结束日期">
	    				</div>
	    				<div class="pure-controls">
	    					<button type="submit" class="pure-button pure-button-primary" id="time_search">查询</button>
	    				</div>
	    			</fieldset>
	    		</form>
	    		<script type="text/javascript">
	    			$(function(){
	    				$('#time_search').click(function(){
	    					var num=0
	    					var str=""
	    					$("input[type$='date']").each(function(n){
	    						if($(this).val() == "")
	    						{
	    							num++
	    							str+=$(this).attr("msg")+"不能为空!\r\n"
	    						}
	    					});
	    					if(num > 0)
	    					{
	    						alert(str)
	    						return false
	    					}

	    					var date_from=$('#date_from').val()
	    					var date_to=$('#date_to').val()
	    					//Ajax提交表单，渲染表格
	    					$.ajax({
	    						type:"POST",
	    						data:{'date_from':date_from,'date_to':date_to},
	    						url:"/get_tendency_table/",
	    						cache:false,
	    						success:function(data){
	    							$('#prevent_table').html(data)
	    						},
	    						error:function(){
	    							alert("查找失败!")
	    						}
	    					});

	    					//Ajax提交表单，渲染图标
	    					$.ajax({
	    						type:"POST",
	    						data:{'date_from':date_from,'date_to':date_to},
	    						url:"/get_tendency_chart/",
	    						cache:false,
	    						success:function(data){
	    							$('#container').html(data)
	    						},
	    						error:function(){
	    							alert("查找失败!")
	    						}
	    					});
	    					return false
	    				});
	    			});
	    		</script>
	    	</div>
	    </div>

	    <h2 class="content-subhead" style="color:orange;margin-left:55px">问题属性占比</h2>
	    {% include "tendency_chart.html" %}
	</div>
{% endblock %}